//Roboto
@font-face {
  font-family: Muli-Regular;
  font-display: auto;
	src: url('~assets/fonts/Muli-Regular.ttf');
}

@font-face {
  font-family: Muli-SemiBold;
  font-display: auto;
	src: url('~assets/fonts/Muli-SemiBold.ttf');
}

@font-face {
  font-family: Muli-Bold;
  font-display: auto;
	src: url('~assets/fonts/Muli-Bold.ttf');
}

$app-font-regular: 'Muli-Regular';
$app-font-medium: 'Muli-SemiBold';
$app-font-bold: 'Muli-Bold';
